<div @onclick="@(() => EditModalPage(TaskModel.Id))">
    <li class="draggable" draggable="true" title="@TaskModel.TaskName" @ondragstart="@(() => HandleDragStart(TaskModel))" style="margin-bottom:10%;border-bottom:3px solid black;">
        <p class="h4">@TaskModel.TaskName</p>
        <p>@TaskModel.Description</p>
        <p>@TaskModel.Project.Name</p>
        <p>@TaskModel.ApplicationUser.Name</p>
    </li>
</div>
<EditTaskModal @ref="EditTaskModalRef" />

@code {
    [CascadingParameter]
    TaskContainer Container { get; set; }
    [Parameter]
    public Models.Task TaskModel { get; set; }
    protected EditTaskModal EditTaskModalRef { get; set; }
    private void HandleDragStart(Models.Task selectedJob)
    {
        Container.Payload = selectedJob;
    }

    private void EditModalPage(int id)
    {
        EditTaskModalRef.Show(id);
    }
}

